* {
  box-sizing: border-box;
  margin: 0;
}

/* global body setting */
body {
  height: 100%;
  width: 100%;
  background-image: url(https://stsci-opo.org/STScI-01GA76N47MR44PNWZ4NAYZBKG5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}

/* page height */
body,
html {
  height: 100vh;
  width: 100%;
}

/* global header and nav*/
header {
  background-color: goldenrod;
  height: 40px;
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: x-large;
}
.navlink {
  padding: 5px;
  margin-right: 20px;
}
.navlist {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* home page section flex */
.homesect {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: cornsilk;
}
.homename {
  /* justify-self: center; */
  font-size: xxx-large;
}

/* global main section */

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* home page image */
#homeimg {
  border-radius: 20%;
  margin-top: 20px;
  height: auto;
  width: 40%;
}
/* home paragraph */
.homep {
  font-size: x-large;


/* home page styling */
#homename{
    font-size: xx-large;
}
h1{
   text-align: center;
   margin-bottom: 20px;
}
#homeh3{
    font-size: x-large;
}



}

/* home page quote */
.quote {
  font-size: x-large;
  margin-top: 100px;
  text-align: center;
}

/* about page styling */
/* container element that holds 2 main sections */
.aboutcontainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

/*  about page text section */
.aboutsect {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: cornsilk;
  max-width: 50%;
  margin-left: 50px;
}

.abouttitle {
  font-size: xx-large;
}
.abouthead1 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.aboutinfo {
  border: 2px black;
  border-style: solid;
  margin-top: 10px;
  margin: 10px 10px 10px 10px;
}
.aboutpp {
  padding-bottom: 10px;
}

/* main about page image section */
.aboutimgs {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  height: 100vh;
  align-items: center;
}

.aboutimgdiv1 {
  display: flex;
  height: 50%;
  width: 100%;

  justify-content: center;
}
.aboutimgdiv2 {
  display: flex;
  height: 40%;
  width: 100%;
}

.aboutimg {
  height: auto;
  width: 30%;
  border-radius: 50%;
  margin: 50px 100px 0px;
}
/* end about page styling */

/* portfolio page styling */

.portcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.porttitle {
  font-size: xx-large;
  color: antiquewhite;
}
.portdiv {
  display: flex;
  margin: 10px;
  background-color: darkslategrey;
  height: 250px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border: solid black 3px;
}

.portdiv:nth-child(even) {
  background-color: slateblue !important;
}

.portp1 {
  font-size: larger;
  max-width: 300px;
}

/* portfolio image styling */
.portimg1 {
  height: auto;
  width: 30%;
}

/* end portfolio page styling */

/* start contact page styling */

.contactcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.contactdiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.contacttitle {
  color: whitesmoke;
  margin-top: 20px;
}

form {
  height: 80%;
  width: 60%;
  /* background-color: aquamarine; */
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: large;
}

.feedback-input {
  display: flex;
  background-color: gray;
  height: 20%;
  width: 40%;
  color: azure;
  margin: 20px;
  border: 5px solid black;
  border-radius: 5px;
}
::placeholder {
  color: white;
}

input[type="submit"] {
  height: 10%;
  width: 30%;
  font-size: 18px;
  color: black;
  background-color: cornsilk;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: coral;
}
